<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<body style="background-color:E5EE80">

<h3 style="color:Black">Telephone Directory</h3><br>
<div style="cellpadding:120 px">
  <a href="{{url_for('add')}}"><button type="button" class="btn btn-success">Add</button></a>
  <a href="{{url_for('display')}}"><button type="button" class="btn btn-info">Display</button></a>
  <a href="{{url_for('search')}}"><button type="button" class="btn btn-warning">Search</button></a><br><br>


</div>


{% block output %}


{% endblock %}
